In [4]:
list1 = [1,2,3,4]
sum = 0
for i in list1:
    sum += i
print (sum)

10

In [6]:
list1 = [1,2,3,4]
min = list1[0]
for i in list1:
    if min > i:
        min = i
print (min)

1

In [7]:
list1 = ["farah", "nabil", 1,2,3, "abdo"]
count = 0
for i in list1:
    if type(i) == str:
        count += 1
print (count)

3

In [8]:
set1 = {1,2,3,4}
set2 = {1,2}
if (set2).issubset (set1):
    print("true")
else:
    print("false")

true

In [9]:
set1 = {1,2,3,4}
set1.clear()
print(set1)

set()

In [12]:
tuple_list = [(1, 2) , (3,4) , (5,6)]
for i in range(len(tuple_list)):
    print({f"list {i+1} is {list(tuple_list[i])}"})

{'list 1 is [1, 2]'}
{'list 2 is [3, 4]'}
{'list 3 is [5, 6]'}

In [13]:
my_tuple = (1, 2, 3, 5)
tuple1 = my_tuple[-1: : -1]
print (tuple1)

(5, 3, 2, 1)

In [14]:
list1 = [1,2,3,4]
mul = 1
for i in list1:
    mul *= i 
print (mul)

24

In [16]:
list1 = [1,2,3,4]
list2 = list1.copy()
print (list2)

[1, 2, 3, 4]

In [17]:
set1 = {1,2,3,4}
rang = int (input ("how many number do you want to delete"))
for i in range (rang) :
    choose =int (input("enter what is we want remove"))
    set1. remove (choose)
print(set1)

how many number do you want to delete2
enter what is we want remove2
enter what is we want remove3
{1, 4}

In [19]:
tuble= (1,2,3,4)
for i in tuble:
    print(tuble.index(i))

0
1
2
3